<!DOCTYPE html>
<html>
<head>
  <title>Customailer</title>
  <%= stylesheet_link_tag    "customailer/application", :media => "all" %>
  <%= javascript_include_tag "customailer/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
